body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}

nav {
    background-color: #2e7d32;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.container {
    text-align: center;
    padding: 60px;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #388e3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1b5e20;
}
.result {
    margin-top: 30px;
}

.result img {
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}